
<!DOCTYPE html>
<html en="en">
<head>
    <meta charset=" = "utf-8">
    <meta name=" = "viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href ="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/menu.css" asp-append-version="true">
    @RenderSection("head",false)
   </head>
   <body>
       <header>
           <h1><a href="/"> The Silk Cafe </a></h1>
       </header>

    
        <nav>
        <a href="/"> Home</a>
        <a href="/Product/Menu"> Menu</a>
        <a href="/Home/Cart"> Cart</a>
        <a href="/Home/Login"> Pending</a>
        <a href="/"> Pending</a>
        <a href="/"> Pending</a>
        <a href="/"> Pending</a>
        <a href="/"> Pending</a>
        <a href="/"> Pending</a>
        <a href="/"> Pending</a>
        <a href="/"> Pending</a>
        <div></div>
       </nav>

       <main>
           <h1> @ViewBag.Title</h1>  
           @RenderBody()
       </main>

       <footer>
           Developed by<b> BAE SUZY</b> &middot;
           COpyrighted &copy;@DateTime.Today.Year
       </footer>


    </body>
</html>